- content_for :head do
  %link{"data-skrollr-stylesheet" => "", href: "assets/isite-skrollr.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %title Parallax Isite

#layer{:style => "height: 100%"}
  %article1#InterLink
    %h1
      InterLink

  #Text1
    %h2
      PROUD
  #Text2
    %h2
      to present!
  #Project1
    %img{:src => 'http://interlink-ua.com/cms_img/slide-cargo1.png'}
  #Project2
    %img{:src => 'http://interlink-ua.com/cms_img/slide-strbrd1.png'}
  #Project3
    %img{:src => 'http://interlink-ua.com/cms_img/slide-social1.png'}
  #Project3
    %img{:src => 'http://interlink-ua.com/cms_img/slide-tah1-en.png'}
  


  %img.joy.joy_1{:src => "/demos/images/1.jpg"}
  %img.joy.joy_2{:src => "/demos/images/2.jpg"}
  %img.joy.joy_3{:src => "/demos/images/3.jpg"}
  %img.joy.joy_4{:src => "/demos/images/4.jpg"}
  %img.joy.joy_5{:src => "/demos/images/5.jpg"}
  %img.joy.joy_6{:src => "/demos/images/6.jpg"}