<%# AriekDev, 2014-2016. %>
<% content_for :head do %><% end %>

<code>
  Images are preloaded and cached by <a href="/assets/joystik.js">this script</a>. 
</code>

<span class="buttonContInner" id="buttonCont-4fd7c9f23f2df02715000000">
  <ul class="coolHandLuke">
    <li>
      <span class="red"> </span>
      <a onclick="animationStop()">Stop</a>
    </li>
    <li>
      <span class="green"> </span>
      <a onclick="animationStart()">Proceed</a>
    </li>
    <li>
      <span class="yellow"></span>
      <a onclick="animateStep()">Step</a>
    </li>
  </ul>
</span>

<hr/>

<code>
  Caching should be started after page is loaded. On errors, check the browser console logs.
</code>

<div id="spinner"></div>

<div class="wrapper" id="full-content">
  <div class="viewport" id="viewport">
    <div class="viewport-inner" id="content">
      <canvas height="720px" id="canvas" width="1350"></canvas>
      <img id="slideBuffer" style="display:none"/>
    </div>
  </div>
</div>

<a href="https://github.com/vitalyp">
  <code>ariekdev 2016 (c)</code>
</a>
