-# AriekDev, 2014.
-# Parallax Example

- content_for :head do
  %title Parallax Joy

#full-content.wrapper
  #viewport.viewport
    #content.viewport-inner{style: "text-align: center; padding-top:1px;"}
      %h1 JOY PARALAX
      %canvas#canvas{height: "1144", width: "1450"}
      %img#joy{src: "images/1.jpg", style: "display:none"}

      
    / Preloader container
    / #loader.loader{style: "display: none;"}
    / Loading…
    / #frameLoads
