#layer {
  -skrollr-animation-name:LAYER_ANIMATE;  
}

#InterLink {
  -skrollr-animation-name:INTERLINK_ANIMATE2;
}
#Text1 {
  -skrollr-animation-name:TEXT1_ANIMATE;
}
#Text2 {
  -skrollr-animation-name:TEXT2_ANIMATE;
}

@-skrollr-keyframes LAYER_ANIMATE {
  10 {      
      background-color:rgb(0,0,30)
  }
  2000 {
      background-color:rgb(0,0,30)
  }
}

@-skrollr-keyframes INTERLINK_ANIMATE2 {
  0 {
      color:rgb(255,255,255);
      font-size: 20px;
      letter-spacing:10px;      
      opacity: 1;
      left: 50%;
      top: 100px;
  }
  400 {
      color:rgb(255,255,255);
      transform:rotate(0deg);
      font-size: 30px;
      left: 48%;
  }  
}

@-skrollr-keyframes TEXT1_ANIMATE {
  500 {
    opacity: 0;
    margin-left: -270px;
  }
  600 {
    opacity: 1;
    margin-left: -300px;
  }
}
@-skrollr-keyframes TEXT2_ANIMATE {
  500 {
    opacity: 0;
    margin-left: 150px;
  }
  600 {
    opacity: 1;
    margin-left: 180px;
  }
}
#layer {
  height: 100%;
}
#InterLink {
  position: fixed;
  left: 50%;
  right: auto;  
  top: 100px;  
  margin-left: -150px;
}
#Text1 {
  color: yellow;
  opacity: 0;

  position: fixed;
  left: 50%;
  right: auto;  
  top: 150px;  
  margin-left: -270px;
}
#Text2 {
  color: yellow;
  opacity: 0;

  position: fixed;
  left: 50%;
  right: auto;  
  top: 150px;  
  margin-left: 150px;
}


#Project1 {
  position: fixed;
  opacity: 0;
}
#Project2 {
  position: fixed;
  opacity: 0;
}
#Project3 {
  position: fixed;
  opacity: 0;
}
#Project4 {
  position: fixed;
  opacity: 0;
}
.joy {
  opacity: 0;
}

/*

#POSTER_TITLE {
  display: block;  
  left: 50%; 
  right: auto;
  margin-left: -350px;
  
  position: absolute;
}


#ARTICLE_1 {
  letter-spacing:10px;
  transform:rotate(0deg);  
  position: fixed;
  left: 50%;
  right: auto;  
  top: 100px;  
  margin-left: -250px;

}
*/
.coolHandLuke { display: inline-block; margin: 0; }
.coolHandLuke li,
.coolHandLuke li a,
.coolHandLuke li span {
	display: block;
	float: left;
}
.coolHandLuke li {
	margin-bottom: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 1px 7px 2px 0 rgba(0,0,0,0.3);
	cursor: pointer;
	margin-left: 10px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.coolHandLuke li:first-child {
	margin-left: 0;
}
.coolHandLuke li a {
	border-left-width: 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	font-family: 'Helvetica Neue';
	font-weight: 500;
	color: #838383;
	text-shadow: 0 1px 0 #FFF;
	padding: 5px 15px;
	background: #e7e7f9;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e7e7f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e7e7f9));
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
	border-bottom-width: 0;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.coolHandLuke li span {
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
	background: #f7f7f7;
	background: -moz-linear-gradient(top, #98c100 0%, #659506 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98c100), color-stop(100%,#659506));
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	color: #FFF;
	font-weight: bold;
	padding: 5px 5px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.coolHandLuke li span.red {
	background: #ee706b;
	background: -moz-linear-gradient(top, #ee706b 0%, #9c3107 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee706b), color-stop(100%,#9c3107));
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
	
}
.coolHandLuke li span.yellow {
	background: -moz-linear-gradient(top, #ffd800 0%, #ffb400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd800), color-stop(100%,#ffb400));
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
}


.coolHandLuke li:hover a {
	background: -moz-linear-gradient(top, #FFFFFF 0%, #e7e7f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#e7e7f9));
}
.coolHandLuke li:hover span.green {
	background: -moz-linear-gradient(top, #abcc00 0%, #659506 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abcc00), color-stop(100%,#659506));
}
.coolHandLuke li:hover span.red {
	background: -moz-linear-gradient(top, #f0807c 0%, #9c3107 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0807c), color-stop(100%,#9c3107));
}
.coolHandLuke li:hover span.yellow {
	background: -moz-linear-gradient(top, #ffe300 0%, #ffb400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe300), color-stop(100%,#ffb400));
}

.coolHandLuke li:active {
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	transform: translateY(3px);
}

.coolHandLuke li:active a {
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
}
.coolHandLuke li:active span {
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
}
.coolHandLuke li:active {
	box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
}
.coolHandLuke li:active span.red {
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
}
.coolHandLuke li:active span.yellow {
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

